/* @font-face{
  font-family: 'Montserrat-Medium';
<<<<<<< HEAD
  src: url("/front-app/public/assets/fonts/Montserrat-Medium.ttf") format('ttf'), 
=======
  src: url('./fonts/Montserrat/Montserrat-Medium.ttf') format('ttf'), 
>>>>>>> 358660b (feat: add menu buttons)
}

@font-face{
  font-family: 'Montserrat-Regular';
<<<<<<< HEAD
  src: url('/front-app/public/assets/fonts/Montserrat-Regular.ttf') format('ttf'), 
=======
  src: url('./fonts/Montserrat/Montserrat-Regular.ttf') format('ttf'), 
>>>>>>> 358660b (feat: add menu buttons)
}

@font-face{
  font-family: 'Montserrat-SemiBold';
<<<<<<< HEAD
  src: url('/front-app/public/assets/fonts/Montserrat-SemiBold.ttf format'('ttf'), 
} */
=======
  src: url('./fonts/Montserrat/Montserrat-SemiBold.ttf') format('ttf'), 
}
>>>>>>> 358660b (feat: add menu buttons)

body,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


a {
  text-decoration: none;
  font-size: 36px;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}